.wapper {
  background: -webkit-linear-gradient(241.26deg, #4D4D4D 1.34%, #1A1A1A 68.4%);
  background: -o-linear-gradient(241.26deg, #4D4D4D 1.34%, #1A1A1A 68.4%);
  background: linear-gradient(208.74deg, #4D4D4D 1.34%, #1A1A1A 68.4%);
  position: relative;
  overflow: hidden; }
  @media (max-width: 1064px) {
    .wapper {
      display: none; } }

.slide {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; }

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*& img {
		width: 50%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}*/ }

.img {
  width: 921px;
  height: 895px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, -12%);
  -ms-transform: translate(-50%, -12%);
  transform: translate(-50%, -12%); }

.logo {
  position: absolute;
  width: 214px;
  top: 47%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .logo:hover {
    -webkit-filter: sepia(100%);
    filter: sepia(100%); }
  .logo:active {
    opacity: 0.8; }
  .logo img {
    width: 100%; }

.img-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.list {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.021)), to(rgba(255, 255, 255, 0.1))), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.021) 0%, rgba(255, 255, 255, 0.1) 100%), -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.021) 0%, rgba(255, 255, 255, 0.1) 100%), -o-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.021) 0%, rgba(255, 255, 255, 0.1) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)); }
  .list .container {
    max-width: 80vw; }

.list-body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.list-link {
  height: 4vw;
  border-right: 3px solid rgba(255, 255, 255, 0.15);
  font-family: areal;
  font-size: 16px;
  font-size: 1vw;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .list-link:hover {
    background: rgba(255, 255, 255, 0.1); }
  .list-link:active {
    background: rgba(51, 51, 51, 0.7); }
  .list-link:last-child {
    border-right: none; }

.slide-2 {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.slide-2-left__wrapper {
  max-width: 868px;
  width: 100%;
  /*display: inline-block;
	text-align: right;*/
  position: absolute;
  right: 0;
  top: 0; }

.slide-2-left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.slide-2-left__top {
  font-family: arial;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #000000;
  text-transform: uppercase;
  padding: 25px 70px;
  position: relative;
  min-height: 97px;
  background: -webkit-linear-gradient(359.42deg, #848484 -7.46%, #3F3F3F 100%);
  background: -o-linear-gradient(359.42deg, #848484 -7.46%, #3F3F3F 100%);
  background: linear-gradient(90.58deg, #848484 -7.46%, #3F3F3F 100%); }
  .slide-2-left__top .slide-2-left__wrapper {
    padding: 25px 70px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 0; }

.slide-2-left__bottom {
  background: -webkit-linear-gradient(353.22deg, #373737 6.97%, #505050 125.79%);
  background: -o-linear-gradient(353.22deg, #373737 6.97%, #505050 125.79%);
  background: linear-gradient(96.78deg, #373737 6.97%, #505050 125.79%);
  -webkit-box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.29) inset;
  box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.29) inset;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative; }
  .slide-2-left__bottom .slide-2-left__wrapper {
    padding-top: 50px; }

.slide-2-left__title {
  font-family: arial;
  font-size: 48px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: #171717;
  max-width: 560px;
  padding-bottom: 200px; }

.slide-2-left__sub-title {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #fff; }

.slide-2-left__text {
  margin-bottom: 75px; }
  .slide-2-left__text p {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #A7A7A7;
    margin-bottom: 35px; }

.slide-2-right {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/1.png"); }
