@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,600&family=Cormorant+SC&family=Playfair+Display:wght@400;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*Адаптив изображений*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

/*--------------------*/
/*
font-family: 'Cormorant Garamond', serif;
font-family: 'Cormorant SC', serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
*/
.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px; }

@media (max-width: 1240px) {
  .container {
    max-width: 1064px; } }

@media (max-width: 1064px) {
  .container {
    max-width: 807px; } }

@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 15px; } }

.wapper {
  background: -webkit-linear-gradient(241.26deg, #4D4D4D 1.34%, #1A1A1A 68.4%);
  background: -o-linear-gradient(241.26deg, #4D4D4D 1.34%, #1A1A1A 68.4%);
  background: linear-gradient(208.74deg, #4D4D4D 1.34%, #1A1A1A 68.4%);
  position: relative;
  overflow: hidden; }
  @media (max-width: 1064px) {
    .wapper {
      display: none; } }

.slide {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; }

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*& img {
		width: 50%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}*/ }

.img {
  width: 921px;
  height: 895px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, -12%);
  -ms-transform: translate(-50%, -12%);
  transform: translate(-50%, -12%); }

.logo {
  position: absolute;
  width: 214px;
  top: 47%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .logo:hover {
    -webkit-filter: sepia(100%);
    filter: sepia(100%); }
  .logo:active {
    opacity: 0.8; }
  .logo img {
    width: 100%; }

.img-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.list {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.021)), to(rgba(255, 255, 255, 0.1))), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.021) 0%, rgba(255, 255, 255, 0.1) 100%), -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.021) 0%, rgba(255, 255, 255, 0.1) 100%), -o-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.021) 0%, rgba(255, 255, 255, 0.1) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)); }

.list-body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.list-link {
  height: 61px;
  border-right: 3px solid rgba(255, 255, 255, 0.15);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .list-link:hover {
    background: rgba(255, 255, 255, 0.1); }
  .list-link:active {
    background: rgba(51, 51, 51, 0.7); }
  .list-link:last-child {
    border-right: none; }

.text-slide {
  overflow: hidden; }
  .text-slide .container {
    height: 100%; }

.text-slide__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%; }

.text-slide-text {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%; }

.text-slide-text__header {
  height: 97px;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 55px; }
  .text-slide-text__header span {
    font-family: Raleway;
    font-size: 23px;
    font-weight: 500;
    line-height: 30px;
    color: #000000;
    position: relative;
    z-index: 2;
    text-transform: uppercase; }
  .text-slide-text__header:before {
    content: "";
    width: 60vw;
    height: 100%;
    position: absolute;
    display: inline-block;
    background: -webkit-linear-gradient(359.42deg, #848484 -7.46%, #3F3F3F 100%);
    background: -o-linear-gradient(359.42deg, #848484 -7.46%, #3F3F3F 100%);
    background: linear-gradient(90.58deg, #848484 -7.46%, #3F3F3F 100%);
    right: 0;
    top: 0;
    z-index: 1; }

.text-slide-text__body {
  position: relative;
  height: 100%;
  padding: 70px 55px;
  padding-left: 0; }
  .text-slide-text__body > * {
    position: relative;
    z-index: 2; }
  .text-slide-text__body:before {
    content: "";
    width: 60vw;
    height: 100%;
    position: absolute;
    display: inline-block;
    background: -webkit-linear-gradient(353.22deg, #373737 6.97%, #505050 125.79%);
    background: -o-linear-gradient(353.22deg, #373737 6.97%, #505050 125.79%);
    background: linear-gradient(96.78deg, #373737 6.97%, #505050 125.79%);
    -webkit-box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.29) inset;
    box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.29) inset;
    right: 0;
    top: 0;
    z-index: 1; }

.text-slide-text__title {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111;
  margin-bottom: 70px; }

.text-slide-text__sub-title {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px; }

.text-slide-text__text {
  margin-bottom: 35px; }
  .text-slide-text__text p {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #A7A7A7;
    margin-bottom: 15px; }
  .text-slide-text__text p:last-child {
    margin-bottom: 0; }

.text-slide-button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  position: relative;
  padding: 70px 55px;
  padding-top: 275px; }
  .text-slide-button:before {
    content: "";
    background-image: url("../../img/1.png");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.text-slide-button__title {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 20px;
  position: relative;
  z-index: 2; }

.text-slide-button__text {
  margin-bottom: 35px;
  position: relative;
  z-index: 2; }
  .text-slide-button__text p {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #A7A7A7;
    margin-bottom: 15px; }
  .text-slide-button__text p:last-child {
    margin-bottom: 0; }

.text-slide-button__button {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  color: #F6DBA6;
  border: 1px solid;
  height: 48px;
  display: block;
  position: relative;
  z-index: 2;
  max-width: 335px;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-image-source: linear-gradient(0deg, rgba(166, 166, 166, 0.6), rgba(166, 166, 166, 0.6)), conic-gradient(from 182.38deg at 50% 100.02%, #C58464 -28.12deg, #E3A455 26.25deg, #F6DBA6 88.12deg, #FFEBC4 156.58deg, #F0BE79 191.74deg, #C29160 213.59deg, #B57B57 225.95deg, #BA7F3B 255.19deg, #EEBC70 278.6deg, #C58464 331.88deg, #E3A455 386.25deg); }
  .text-slide-button__button:hover {
    -webkit-box-shadow: 0px 4px 54px 0px rgba(240, 190, 121, 0.2);
    box-shadow: 0px 4px 54px 0px rgba(240, 190, 121, 0.2);
    background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#000000)), radial-gradient(188.52% 2141.83% at 50% 50%, rgba(139, 139, 139, 0.26) 0%, rgba(0, 0, 0, 0) 100%), conic-gradient(from 182.38deg at 50% 100.02%, #C58464 -28.12deg, #E3A455 26.25deg, #F6DBA6 88.12deg, #FFEBC4 156.58deg, #F0BE79 191.74deg, #C29160 213.59deg, #B57B57 225.95deg, #BA7F3B 255.19deg, #EEBC70 278.6deg, #C58464 331.88deg, #E3A455 386.25deg);
    background: -webkit-linear-gradient(bottom, #000000, #000000), -webkit-radial-gradient(50% 50%, 188.52% 2141.83%, rgba(139, 139, 139, 0.26) 0%, rgba(0, 0, 0, 0) 100%), conic-gradient(from 182.38deg at 50% 100.02%, #C58464 -28.12deg, #E3A455 26.25deg, #F6DBA6 88.12deg, #FFEBC4 156.58deg, #F0BE79 191.74deg, #C29160 213.59deg, #B57B57 225.95deg, #BA7F3B 255.19deg, #EEBC70 278.6deg, #C58464 331.88deg, #E3A455 386.25deg);
    background: -o-linear-gradient(bottom, #000000, #000000), -o-radial-gradient(50% 50%, 188.52% 2141.83%, rgba(139, 139, 139, 0.26) 0%, rgba(0, 0, 0, 0) 100%), conic-gradient(from 182.38deg at 50% 100.02%, #C58464 -28.12deg, #E3A455 26.25deg, #F6DBA6 88.12deg, #FFEBC4 156.58deg, #F0BE79 191.74deg, #C29160 213.59deg, #B57B57 225.95deg, #BA7F3B 255.19deg, #EEBC70 278.6deg, #C58464 331.88deg, #E3A455 386.25deg);
    background: linear-gradient(0deg, #000000, #000000), radial-gradient(188.52% 2141.83% at 50% 50%, rgba(139, 139, 139, 0.26) 0%, rgba(0, 0, 0, 0) 100%), conic-gradient(from 182.38deg at 50% 100.02%, #C58464 -28.12deg, #E3A455 26.25deg, #F6DBA6 88.12deg, #FFEBC4 156.58deg, #F0BE79 191.74deg, #C29160 213.59deg, #B57B57 225.95deg, #BA7F3B 255.19deg, #EEBC70 278.6deg, #C58464 331.88deg, #E3A455 386.25deg); }
  .text-slide-button__button:active {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(152, 152, 152, 0.4)), to(rgba(152, 152, 152, 0.4))), conic-gradient(from 182.38deg at 50% 100.02%, #C58464 -28.12deg, #E3A455 26.25deg, #F6DBA6 88.12deg, #FFEBC4 156.58deg, #F0BE79 191.74deg, #C29160 213.59deg, #B57B57 225.95deg, #BA7F3B 255.19deg, #EEBC70 278.6deg, #C58464 331.88deg, #E3A455 386.25deg), conic-gradient(from 192.09deg at 61.87% 131.97%, #C58464 -28.12deg, #E3A455 26.25deg, #F6DBA6 88.12deg, #FFEBC4 156.58deg, #F0BE79 191.74deg, #C29160 213.59deg, #B57B57 225.95deg, #BA7F3B 255.19deg, #EEBC70 278.6deg, #C58464 331.88deg, #E3A455 386.25deg);
    background: -webkit-linear-gradient(bottom, rgba(152, 152, 152, 0.4), rgba(152, 152, 152, 0.4)), conic-gradient(from 182.38deg at 50% 100.02%, #C58464 -28.12deg, #E3A455 26.25deg, #F6DBA6 88.12deg, #FFEBC4 156.58deg, #F0BE79 191.74deg, #C29160 213.59deg, #B57B57 225.95deg, #BA7F3B 255.19deg, #EEBC70 278.6deg, #C58464 331.88deg, #E3A455 386.25deg), conic-gradient(from 192.09deg at 61.87% 131.97%, #C58464 -28.12deg, #E3A455 26.25deg, #F6DBA6 88.12deg, #FFEBC4 156.58deg, #F0BE79 191.74deg, #C29160 213.59deg, #B57B57 225.95deg, #BA7F3B 255.19deg, #EEBC70 278.6deg, #C58464 331.88deg, #E3A455 386.25deg);
    background: -o-linear-gradient(bottom, rgba(152, 152, 152, 0.4), rgba(152, 152, 152, 0.4)), conic-gradient(from 182.38deg at 50% 100.02%, #C58464 -28.12deg, #E3A455 26.25deg, #F6DBA6 88.12deg, #FFEBC4 156.58deg, #F0BE79 191.74deg, #C29160 213.59deg, #B57B57 225.95deg, #BA7F3B 255.19deg, #EEBC70 278.6deg, #C58464 331.88deg, #E3A455 386.25deg), conic-gradient(from 192.09deg at 61.87% 131.97%, #C58464 -28.12deg, #E3A455 26.25deg, #F6DBA6 88.12deg, #FFEBC4 156.58deg, #F0BE79 191.74deg, #C29160 213.59deg, #B57B57 225.95deg, #BA7F3B 255.19deg, #EEBC70 278.6deg, #C58464 331.88deg, #E3A455 386.25deg);
    background: linear-gradient(0deg, rgba(152, 152, 152, 0.4), rgba(152, 152, 152, 0.4)), conic-gradient(from 182.38deg at 50% 100.02%, #C58464 -28.12deg, #E3A455 26.25deg, #F6DBA6 88.12deg, #FFEBC4 156.58deg, #F0BE79 191.74deg, #C29160 213.59deg, #B57B57 225.95deg, #BA7F3B 255.19deg, #EEBC70 278.6deg, #C58464 331.88deg, #E3A455 386.25deg), conic-gradient(from 192.09deg at 61.87% 131.97%, #C58464 -28.12deg, #E3A455 26.25deg, #F6DBA6 88.12deg, #FFEBC4 156.58deg, #F0BE79 191.74deg, #C29160 213.59deg, #B57B57 225.95deg, #BA7F3B 255.19deg, #EEBC70 278.6deg, #C58464 331.88deg, #E3A455 386.25deg);
    color: #000; }

.slide {
  background: -webkit-linear-gradient(241.26deg, #4D4D4D 1.34%, #1A1A1A 68.4%);
  background: -o-linear-gradient(241.26deg, #4D4D4D 1.34%, #1A1A1A 68.4%);
  background: linear-gradient(208.74deg, #4D4D4D 1.34%, #1A1A1A 68.4%); }

.container {
  height: 100%; }

.img-slide__wrapper {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 20vh; }
  @media (min-width: 2200px) {
    .img-slide__wrapper {
      padding: 0; } }
  @media (max-width: 1920px) {
    .img-slide__wrapper {
      padding-left: 200px;
      padding-right: 200px; } }
  @media (max-width: 1920px) and (max-width: 1260px) {
    .img-slide__wrapper {
      padding-left: calc(10px + 190 * ((100vw - 320px) / 940)); } }
  @media (max-width: 1920px) and (max-width: 1260px) {
    .img-slide__wrapper {
      padding-right: calc(10px + 190 * ((100vw - 320px) / 940)); } }

.img-slide__title {
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 400;
  line-height: 85px;
  letter-spacing: 0.02em;
  color: #111;
  margin-bottom: 35px;
  text-align: left; }

.img-slide__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.img-slide-blok {
  padding-top: 28vh;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  margin-bottom: 3%;
  -webkit-box-shadow: 18px 18px 36px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 18px 18px 36px 0px rgba(0, 0, 0, 0.25);
  border: 8px solid #212121;
  border-radius: 5px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .img-slide-blok:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }

.img-slide-blok__title {
  width: 100%;
  position: relative;
  /*left: 0;
	bottom: 0;*/
  height: 51px;
  overflow: hidden; }
  .img-slide-blok__title span {
    line-height: 51px;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #fff;
    z-index: 3;
    position: relative;
    left: 50%;
    display: inline-block;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-transform: uppercase; }
  .img-slide-blok__title:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background: rgba(255, 255, 255, 0.1);
    z-index: 2;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); }
