@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?huxzaa");
  src: url("../fonts/icomoon.eot?huxzaa#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?huxzaa") format("truetype"), url("../fonts/icomoon.woff?huxzaa") format("woff"), url("../fonts/icomoon.svg?huxzaa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-Group:before {
  content: "\e900";
  color: #fff; }

.icon-Vector:before {
  content: "\e901";
  color: #fff; }

/*Адаптив изображений*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

/*--------------------*/
body {
  font-family: 'Montserrat', sans-serif;
  background: #191919; }

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto; }

@media (max-width: 1420px) {
  .container {
    max-width: 1070px; } }

@media (max-width: 1220px) {
  .container {
    max-width: 910px; } }

@media (max-width: 1024px) {
  .container {
    max-width: none; } }

.section-heder {
  overflow: hidden; }

@media (min-width: 767px) {
  .section-heder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .section-heder-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 51.3%;
    flex: 0 0 51.3%;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0); } }

@media (max-width: 767px) {
  .section-heder-image {
    display: blok;
    width: 100%;
    padding-top: 125%; } }

.section-heder__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.section-heder__container {
  width: 1250px;
  padding: 0 20px;
  margin: 0 auto; }

@media (max-width: 1420px) {
  .section-heder__container {
    width: 1112px; } }

@media (max-width: 1220px) {
  .section-heder__container {
    width: 959px; } }

@media (max-width: 1024px) {
  .section-heder__container {
    width: 100%; } }

.section-heder-body {
  width: 50%;
  padding-right: 120px; }
  @media (max-width: 1220px) {
    .section-heder-body {
      padding-right: 10.89%; } }
  @media (max-width: 767px) {
    .section-heder-body {
      padding-right: 0;
      width: 100%; } }

.section-heder-image {
  max-width: 100%; }

.section-heder__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #fff;
  margin-top: 52px; }
  @media (max-width: 1420px) {
    .section-heder__link {
      margin-top: 42px;
      font-size: 12.5px; } }
  @media (max-width: 1220px) {
    .section-heder__link {
      margin-top: 36px;
      font-size: 10.5px; } }

.section-heder__link span {
  margin-left: 13px; }
  @media (max-width: 1420px) {
    .section-heder__link span {
      margin-left: 10px; } }

.section-heder__title {
  font-size: 72px;
  font-weight: 800;
  line-height: 88px;
  color: #F2C94C;
  margin-top: 207px; }
  @media (max-width: 1420px) {
    .section-heder__title {
      font-size: 64px;
      margin-top: 182.5px;
      line-height: 78px; } }
  @media (max-width: 1220px) {
    .section-heder__title {
      font-size: 54.8px;
      margin-top: 155.5px;
      line-height: 68px; } }
  @media (max-width: 1220px) and (max-width: 1170px) {
    .section-heder__title {
      font-size: calc(34px + 20.8 * ((100vw - 320px) / 850)); } }
  @media (max-width: 1220px) and (max-width: 1170px) {
    .section-heder__title {
      margin-top: calc(45px + 110.5 * ((100vw - 320px) / 850)); } }
  @media (max-width: 1220px) and (max-width: 1170px) {
    .section-heder__title {
      line-height: calc(48px + 20 * ((100vw - 320px) / 850)); } }

.section-heder__sub-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #fff;
  margin-top: 36.5px; }
  @media (max-width: 1420px) {
    .section-heder__sub-title {
      font-size: 21.3px;
      margin-top: 34px;
      line-height: 26.5px; } }
  @media (max-width: 1220px) {
    .section-heder__sub-title {
      font-size: 18.3px;
      margin-top: 28.5px;
      line-height: 22.3px;
      margin-top: 28.5px;
      font-size: 18.3px; } }
  @media (max-width: 1220px) and (max-width: 1170px) {
    .section-heder__sub-title {
      margin-top: calc(15px + 13.5 * ((100vw - 320px) / 850)); } }
  @media (max-width: 1220px) and (max-width: 1170px) {
    .section-heder__sub-title {
      font-size: calc(16px + 2.3 * ((100vw - 320px) / 850)); } }

.section-heder__list {
  margin-top: 91px;
  font-size: 0;
  margin-bottom: 53px; }
  @media (max-width: 1420px) {
    .section-heder__list {
      margin-top: 81px;
      margin-bottom: 46px; } }
  @media (max-width: 1220px) {
    .section-heder__list {
      margin-top: 69px;
      margin-bottom: 33.5px; } }

.section-heder__list-link {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #fff;
  margin-bottom: 11px; }
  @media (max-width: 1420px) {
    .section-heder__list-link {
      margin-bottom: 5px;
      font-size: 22.4px; } }
  @media (max-width: 1220px) {
    .section-heder__list-link {
      margin-bottom: 6.5px;
      font-size: 19.4px;
      line-height: 20px; } }

.section-heder__list-link:last-child {
  margin-bottom: 0; }

.section-heder__list-link span {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #fff;
  display: inline-block;
  margin-right: 29px; }
  @media (max-width: 1420px) {
    .section-heder__list-link span {
      margin-right: 16px;
      font-size: 22.4px; } }
  @media (max-width: 1220px) {
    .section-heder__list-link span {
      margin-bottom: 5px;
      font-size: 19.4px;
      line-height: 20px; } }

/*
.section {
	overflow: hidden;
}
@media (min-width: 767px) {
	.section {
		display: flex;
	}
	.section-image {
		flex: 0 0 50%;
		transform: translate(-100%,0);
	}
}
.section__content {
	flex: 0 0 100%;
	display: flex;
}
.section__container {
	max-width: 1360px;
	margin: 0 auto;
	padding: 0 20px;
	background: #686868;
	display: flex;
	align-items: center;
}
.section-body {
	width: 50%;
	padding: 50px 20px 50px 0;
}
.section__title {
	font-size: 40px;
	margin: 0 0 20px 0;
}
.section-text {
	line-height: 130%;
	font-size: 16px;
}
.section-image {
	max-width: 100%;
}
*/
